<header>
    <nav class="bg-[#070326] px-4 py-2.5">
        <div class="flex flex-wrap justify-between items-center max-w-screen-xl">
            <a href="https://flowbite.com" class="flex-none items-center">
                <img src="assets/logo.png" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
            </a>
            <div class="flex-auto">
                <ul class="flex font-light text-sm flex-row space-x-2 mt-0">
                    <li>
                        <a href="#" class="block py-2 pr-4 pl-3 text-white rounded bg-primary-700"
                            aria-current="page">Documents</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
